@model WebApp_WSFederation_DotNet.Models.HomeIndexModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Claims:</h2>
        @if (User.Identity.IsAuthenticated)
        {
            <table border="1">
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
                @foreach (var c in Model.Claims)
                {
                    <tr>
                        <td>@c.Type</td>
                        <td>@c.Value</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <b>Not logged in!</b>
        }
    </div>
</div>